<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Главная</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form id='signinForm' action="/signin" method="POST">
            <label for="login">Login</label>
            <input type="text" id="login" name="login"><br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"><br>

            <p>Ещё нет аккаунта?</p> <a href="/signup">Создать аккаунт</a> <br>
            <input type="submit" value="Войти">
        </form>
    </body>
<html>
