<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Главная</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <form action="/" method="POST">
            <label for="waiterId">ID сотрудника</label>
            <input type="text" id="waiterId" name="waiterId" value="0">
            <input type="submit" value="Отправить">
        </form>
    </body>
<html>
